* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #F8FAFC;
  color: #0F172A;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navbar a {
  margin-left: 22px;
  text-decoration: none;
  color: #0F172A;
  font-weight: 500;
}

/* HERO */
.hero {
  
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(135deg, #2563EB, #06B6D4);
  color: white;
}

.hero img {
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.3);
}

.hero span {
  color: #E0F2FE;
}

.hero button {
  margin-top: 15px;
  padding: 12px 28px;
  border-radius: 25px;
  border: none;
  background: white;
  color: #2563EB;
  font-weight: bold;
  cursor: pointer;
}

/* SECTIONS */
.section {
  padding: 80px 60px;
}

.section h2 {
  text-align: center;
  margin-bottom: 45px;
}

/* SECTION TYPES */
.light {
  background: #F8FAFC;
}

.gradient {
  background: linear-gradient(135deg, #E0F2FE, #EEF2FF);
}

.dark {
  background: #0F172A;
  color: white;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

/* SKILLS */
.skills-grid {
  max-width: 900px;
  margin: auto;
}

.skill-card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.skill-card:hover {
  transform: translateY(-8px);
}

.skill-card img {
  width: 70px;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.skill-card:hover img {
  transform: scale(1.1);
}

/* CERT CARD */
.card {
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  text-align: center;
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 35px;
}

.project-card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  padding: 15px 20px 0;
}

.project-card p {
  padding: 10px 20px 20px;
  color: #475569;
  font-size: 14px;
}

/* CONTACT */
form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button[type="submit"] {
  background: #2563EB;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: white;
  color: #64748B;
}